<% @title = 'Edit Pricing Entry' %>

<h2>Edit <%= @utility.name %> Pricing Entry</h2>

<%= simple_form_for(@utility_price, url: url_for(@utility_price), wrapper: :horizontal_form) do |f| %>
  <%= f.input :name, label: 'Name' %>
  <%= f.input :usage_based, radio_label: 'Usage based?', radio_for: 'utility_price_usage_based',
    wrapper: :horizontal_boolean %>
  <%= f.input :price, min: 0, step: 0.01, label: 'Unit Charge' %>
  <%= f.input :usage_unit, label: 'Usage Unit', hint: 'Only if it is a usage-based charge' %>
  <%= f.input :length_unit, collection: [['Day', 'd'], ['Week', 'w'], ['Month', 'm']], label: 'Unit',
    hint: 'Only if it is a standing charge', wrapper: :horizontal_multiselect %>

  <div class="form-group row">
    <div class="col btn-group">
      <%= f.submit "Update", class: "btn btn-warning" %>
      <%= link_to("Back", _back_url, class: "btn btn-info") %>
    </div>
  </div>
<% end %>