<h2>
  Tenant view&nbsp;&nbsp;
  <small class="text-muted font-weight-light">Your tenancies, documents and bills</small>
</h2>

<div class="card w-100">
  <h4 class="card-header">Balance</h4>
  <div class="card-body">
    <div class="row w-100">
      <div class="col-12 col-md-6">
        <h1 class="card-text display-3"><%= tenant.readable_balance %></h1>
        <small class="card-text text-muted">
          Pending balance - <%= link_to(
            tenant.pending_balance,
            invoice_path(tenant.invoices.where(issued: false).order(created_at: :desc).first)
          ) %>
        </small>
      </div>
      <div class="col-12 col-md-6">
        <ul class="nav flex-column">
          <% unless tenant.has_active_mandate? %>
            <li class="nav-item">
              <%= link_to('Set-up mandate', new_mandate_path, class: 'nav-link text-danger font-weight-bold') %>
            </li>
          <% end %>
          <% unless tenant.tenant_checks.valid.present? %>
            <li class="nav-item">
              <%= link_to('Right to Rent check', new_tenant_check_path, class: 'nav-link text-danger font-weight-bold') %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to('View tenancy details', tenancy_path(tenant.current_tenancy), class: 'nav-link') %>
          </li>
          <li class="nav-item">
            <%= link_to('View invoices', invoices_path, class: 'nav-link') %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>