<% @title = @tenant.name %>

<%= link_to('Edit', edit_tenant_path(@tenant), class: 'btn btn-warning float-right') %>
<h2><%= @tenant.name %></h2>

<div class="card w-100 mb-3">
  <h4 class="card-header">Tenancy Applications</h4>
  <div class="card-content">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>Last Updated</th>
        <th>Form</th>
        <th>Reference</th>
        <th>Check</th>
        <th>Mandate</th>
        <th></th>
      </tr>
      </thead>
      <tbody class="bg-white">
      <% @tenant.tenant_applications.each do |app| %>
        <tr>
          <th><%= l app.updated_at %></th>
          <td>
            <%= app.form_uploaded? ? '<i class="fas fa-lg fa-check-circle text-success"></i>'.html_safe
              : '<i class="fas fa-lg fa-times-circle text-danger"></i>'.html_safe %>
          </td>
          <td>
            <% if app.reference_received? %>
            <%= app.reference_passed? ? '<i class="fas fa-lg fa-check-circle text-success"></i>'.html_safe
              : '<i class="fas fa-lg fa-times-circle text-danger"></i>'.html_safe %>
            <% else %>
            <%= link_to('Record', edit_application_path(app), class: 'btn btn-sm btn-warning') %>
            <% end %>
          </td>
          <td>
            <%= app.check_completed? ? '<i class="fas fa-lg fa-check-circle text-success"></i>'.html_safe
              : link_to('Record', new_tenant_check_path(@tenant), class: 'btn btn-sm btn-outline-primary') %>
          </td>
          <td>
            <%= app.mandate_completed? ? '<i class="fas fa-lg fa-check-circle text-success"></i>'.html_safe
              : '<i class="fas fa-lg fa-times-circle text-danger"></i>'.html_safe %>
          </td>
          <td>
            <%= link_to(application_path(app), class: 'btn btn-sm btn-info', alt: 'View') do %>
              <i class="fas fa-search fa-fw"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="6" class="text-right">
          <%= form_for(:tenant_application, url: applications_path) do |f| %>
            <%= f.hidden_field 'tenant_id', value: @tenant.id %>
            <%= f.submit "Create Application", class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<% if !@tenant.current_application.present? && @tenant.tenant_checks.empty? %>
  <div class="alert alert-danger">
    <strong>Tenant check required</strong>: please ensure that one is carried out prior to any tenancies.
    You can record a completed check <%= link_to('here', new_tenant_check_path(@tenant)) %>.
  </div>
<% else %>
  <div class="card w-100 mb-3">
    <h4 class="card-header">Tenant Check</h4>
    <div class="card-content">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th>Date</th>
          <th>Document Type</th>
          <th>Expires</th>
          <th>View</th>
        </tr>
        </thead>
        <tbody class="bg-white">
          <% @tenant.tenant_checks.unscoped.each do |check| %>
          <tr>
            <th><%= check.created_at.to_s(:rfc822) %></th>
            <td><%= check.document_type %></td>
            <td><%= check.expires.present? ? check.expires.to_s(:rfc822) : '<i>Indefinite</i>'.html_safe %></td>
            <td>
              <%= link_to(tenant_check_path(check), class: 'btn btm-sm btn-info', alt: 'View') do %>
                <i class="fas fa-search fa-fw"></i>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4" class="text-right">
            <%= link_to('Add Tenant Check', new_tenant_check_path(@tenant), class: 'btn btn-primary') %>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
<% end %>

<% unless @tenant.mandates.empty? %>
  <div class="card mb-3">
    <h4 class="card-header">Billing Mandate</h4>
    <div class="card-content">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Type</th>
          <th>Status</th>
          <th>Last Payment</th>
        </tr>
        </thead>
        <tbody>
        <% @tenant.mandates.unscoped.each do |m| %>
          <tr>
            <th><%= m.reference %></th>
            <td><%= m.method %></td>
            <td>
              <% if m.active? %>
              <span class="badge badge-success">Active</span>
              <% elsif m.cancelled? %>
              <span class="badge badge-danger">Cancelled</span>
              <% else %>
              <span class="badge badge-secondary">Pending</span>
              <% end %>
            </td>
            <td><%= m.last_success.nil? ? '' : m.last_success.to_s(:rfc822) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<div class="card w-100 mb-3">
  <h4 class="card-header">Contacts</h4>
  <div class="card-content">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Primary</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <% @tenant.contacts.each do |c| %>
      <tr>
        <th><%= c.title + ' ' + c.first_name + ' ' + c.last_name %></th>
        <td><%= c.role %></td>
        <td>
          <% if c.primary? %>
          <i class="fas fa-check text-success" aria-label="Yes"></i>
          <% else %>
          <i class="fas fa-times text-danger" aria-label="No"></i>
          <% end %>
        </td>
        <td>
          <% if c.has_user? %>
          <% if c.user.access_locked? %>
            <span class="badge badge-danger">Locked</span>
          <% end %>
          <% else %>
          <span class="badge badge-warning">No Account</span>
          <% end %>
        </td>
        <td class="text-right">
          <div class="btn-group btn-group-sm" role="group">
            <% if c.has_user? %>
            <% if c.user.access_locked? %>
            <%= link_to(unlock_tenant_user_path(@tenant, c.user), method: :post, class: 'btn btn-primary', alt: 'Unlock') do %>
              <i class="fas fa-unlock-alt fa-fw"></i>
            <% end %>
            <% end %>
            <%= link_to(edit_tenant_user_path(@tenant, c.user), class: 'btn btn-warning', alt: 'Edit') do %>
              <i class="fas fa-edit fa-fw"></i>
            <% end %>
            <%= link_to(tenant_user_path(@tenant, c.user), data: {:confirm => 'Are you sure?'}, method: :delete,
              class: 'btn btn-danger', alt: 'Delete') do %>
              <i class="fas fa-trash fa-fw"></i>
            <% end %>
            <% else %>
            <%= link_to(edit_tenant_contact_path(@tenant, c), class: 'btn btn-warning', alt: 'Edit') do %>
              <i class="fas fa-edit fa-fw"></i>
            <% end %>
            <%= link_to(tenant_contact_path(@tenant, c), data: {:confirm => 'Are you sure?'}, method: :delete,
              class: 'btn btn-danger', alt: 'Delete') do %>
              <i class="fas fa-trash fa-fw"></i>
            <% end %>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5" class="text-right">
          <div class="btn-group">
            <%= link_to('Add contact', new_tenant_contact_path(@tenant), class: 'btn btn-warning') %>
            <%= link_to('Add account', new_tenant_user_path(@tenant), class: 'btn btn-primary') %>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="card w-100 mb-3">
  <h4 class="card-header">Tenancies</h4>
  <div class="card-content">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>Property</th>
        <th>Room</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @tenant.tenancies.order(start_date: :asc).each do |tenancy| %>
      <tr>
        <th><%= tenancy.property.name %></th>
        <td><%= tenancy.belongs_to_room? ? tenancy.rentable.name : '' %></td>
        <td><%= tenancy.start_date.to_s(:rfc822) %></td>
        <td><%= tenancy.end_date.empty? ? 'Open-ended' : tenancy.end_date.to_s(:rfc822) %></td>
        <td>
          <% if tenancy.is_active? %>
          <span class="badge badge-success">Active</span>
          <% elsif tenancy.is_future? %>
          <span class="badge badge-info">Future</span>
          <% else %>
          <span class="badge badge-secondary">Past</span>
          <% end %>
        </td>
        <td>
          <%= link_to(tenancy_path(tenancy), class: 'btn btn-sm btn-primary', alt: 'View') do %>
            <i class="fas fa-search fa-fw"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>