<% @title = 'Edit Utility' %>

<h2>Edit Utility for <%= @property.name %></h2>

<%= simple_form_for(@utility, url: property_utilities_path(@property), wrapper: :horizontal_form) do |f| %>
  <%= f.input :name, label: 'Name' %>
  <%= f.input :provider_name, label: 'Service Provider' %>
  <%= f.input :included_in_rent, radio_label: 'Included in rent?', wrapper: :horizontal_boolean %>
  <%= f.input :prepay_charges, radio_label: 'Charges are prepaid?', wrapper: :horizontal_boolean %>

  <div class="form-group row">
    <div class="col btn-group">
      <%= f.submit "Update", class: "btn btn-warning" %>
      <%= link_to("Back", property_path(@property), class: "btn btn-info") %>
    </div>
  </div>
<% end %>