<% @title = 'Create Tenancy' %>

<h2>Create New Tenancy for <%= @rentable.name %></h2>

<%= simple_form_for(@tenancy, url: url_for([@rentable, @tenancy]), wrapper: :horizontal_form) do |f| %>
  <%= f.association :tenant, label: 'Tenant', wrapper: :horizontal_multiselect %>
  <%= f.input :rent, input_html: {min: 0, step: 0.01}, icon: 'fas fa-pound-sign fa-fw', label: 'Rent',
    wrapper: :horizontal_input_group, required: true %>
  <%= f.input :rent_period, label: 'Rent Period', collection: [['Weekly', 'w'], ['Monthly', 'm']], required: true,
    wrapper: :horizontal_multiselect %>
  <%= f.input :rent_payment_day, collection: 1..28, label: 'Day for Rent Payment', wrapper: :horizontal_multiselect %>
  <%= f.input :start_date, label: 'Start Date', start_year: Date.today.year, wrapper: :horizontal_multiselect %>
  <%= f.input :end_date, label: 'End Date', include_blank: true, wrapper: :horizontal_multiselect,
    hint: 'Leave empty to create an open-ended tenancy' %>

  <div class="form-group row">
    <div class="col btn-group">
      <%= f.submit "Create", class: "btn btn-primary" %>
      <%= link_to("Back", _back_url, class: "btn btn-secondary") %>
    </div>
  </div>

  <script type="text/html" id="monthly_options">
    <%= f.input :rent_payment_day, collection: 1..28, label: 'Day for Rent Payment', wrapper: :horizontal_multiselect %>
  </script>
  <script type="text/html" id="weekly_options">
    <%= f.input :rent_payment_day, collection: 1..7, label: 'Day for Rent Payment',
      hint: '`1` refers to Monday whereas `7` refers Sunday', wrapper: :horizontal_multiselect %>
  </script>
<% end %>

<script type="text/javascript">
  $('#tenancy_rent_period').on('change', function() {
    let val = this.val();
    let field = $('#tenancy_rent_payment_day').first();
    let day = parseInt(field.val());

    if (val === 'w') {
        field.replaceWith($('#weekly_options').html());

        if (day >= 1 && day <= 7) {
            field.children('option[value=' + day + ']').attr('selected', true);
        }
    }
    else if (val === 'm') {
        field.replaceWith($('#monthly_options').html());

        if (day >= 1 && day <= 28) {
            field.children('option[value=' + day + ']').attr('selected', true);
        }
    }
  });
</script>