<% @title = 'Update Account' %>

<h2>Update Account</h2>

<%= simple_form_for(@user, url: url_for([associable, @user]), wrapper: :horizontal_form) do |f| %>
  <%= f.simple_fields_for(@contact, wrapper: :horizontal_form) do |contact| %>
    <%= contact.input :title, label: "Title" %>
    <%= contact.input :first_name, label: "First Name" %>
    <%= contact.input :last_name, label: "Last Name" %>
    <%= contact.input :email, label: "Email" %>
    <%= contact.input :phone, label: "Phone" %>
    <%= contact.input :address, label: "Address" %>
  <% end %>
  <%= f.input :username, label: "Username" %>

  <div class="form-group row">
    <div class="col btn-group">
      <%= f.submit "Update", class: "btn btn-warning" %>
      <%= link_to("Back", _back_url, class: "btn btn-info") %>
    </div>
  </div>
<% end %>