<% @title = 'Edit Property' %>

<h2>Edit Property</h2>

<%= simple_form_for(@property, wrapper: :horizontal_form) do |f| %>
  <%= f.input :name, class: "form-control", placeholder: "Name" %>
  <%= f.input :address, class: "form-control", placeholder: "Address" %>
  <%= f.input :postcode, class: "form-control", placeholder: "AB1 2CD" %>
  <%= f.input :size, class: "form-control", step: 0.1, label: "Size", unit: 'm<sup>2</sup>'.html_safe,
      wrapper: :horizontal_input_group %>
  <div class="form-group row">
    <div class="col btn-group">
      <%= f.submit "Update", class: "btn btn-warning" %>
      <%= link_to("Back", _back_url, class: "btn btn-info") %>
    </div>
  </div>
<% end %>