<% @title = 'Create Property' %>

<h2>Create New Property</h2>

<%= simple_form_for(@property, url: properties_path, wrapper: :horizontal_form) do |f| %>
  <%= f.input :name, class: "form-control", placeholder: "Name" %>
  <%= f.input :address, class: "form-control", placeholder: "Address" %>
  <%= f.input :postcode, class: "form-control", placeholder: "AB1 2CD" %>
  <div class="form-group row">
    <div class="col-sm-3 col-form-label">
      Size
    </div>
    <div class="col-sm-9">
      <div class="input-group">
        <%= f.number_field :size, class: "form-control", step: 0.1, placeholder: "Size" %>
        <div class="input-group-addon">m<sup>2</sup></div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col btn-group">
      <%= f.submit "Create", class: "btn btn-primary" %>
      <%= link_to("Back", _back_url, class: "btn btn-secondary") %>
    </div>
  </div>
<% end %>