<% @title = @property.name %>

<h2><small class="text-muted">Property: </small><%= @property.name %></h2>
<div class="btn-group float-right">
  <%= link_to('Edit', edit_property_path(@property), class: 'btn btn-warning') %>
  <%= link_to('Create Tenancy', new_property_tenancy_path(@property), class: 'btn btn-primary') %>
</div>

<p>
  <%= @property.address %>
  <% if @property.postcode.present? %>
    <%= @property.postcode %>
  <% end %>
  <% if !@property.rooms.present? && @property.tenancies.active.present? %>
    <br /><%= @property.tenancies.active.tenant.name %>
  <% elsif !@property.rooms.present? && @property.tenancies.future.present? %>
    <br /><%= @property.tenancies.future.tenant.name %> <small>(future)</small>
  <% elsif !@property.rooms.present? %>
    <br />Unoccupied - <%= link_to('Add tenancy', new_property_tenancy_path(@property)) %>
  <% end %>
</p>

<% if @property.rooms.present? %>
  <div class="card mb-3">
    <h4 class="card-header">Rooms</h4>
    <div class="card-body">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th>Room</th>
          <th>Tenant</th>
          <th></th>
        </tr>
        </thead>
        <tbody class="bg-white">
        <% @property.rooms.each do |room| %>
          <tr>
            <td><%= room.name %></td>
            <td>
              <% if room.tenancies.active.present? %>
                <%= room.tenancies.active.first.tenant.name %>
              <% elsif room.tenancies.future.present? %>
                <%= room.tenancies.future.first.tenant.name %> <small>(future)</small>
              <% else %>
                Unoccupied - <%= link_to('Add tenancy', new_room_tenancy_path(room)) %>
              <% end %>
            </td>
            <td class="text-right">
              <div class="btn-group btn-group-sm" role="group">
                <%= link_to(add_room_tenancy_path(room), class: 'btn btn-info', alt: 'View details') do %>
                  <i class="fas fa-plus fa-fw"></i>
                <% end %>
                <%= link_to(edit_room_path(room), class: 'btn btn-warning', alt: 'Edit') do %>
                  <i class="fas fa-edit fa-fw"></i>
                <% end %>
                <%= link_to(room_path(room), data: {:confirm => 'Are you sure?'}, method: :delete,
                            class: 'btn btn-danger', alt: 'Delete') do %>
                  <i class="fas fa-trash fa-fw"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <div class="float-right">
              <%= link_to('Add room', new_property_room_path(@property), class: 'btn btn-primary') %>
            </div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
<% end %>

<div class="card mb-3">
  <h4 class="card-header">Utilities</h4>
  <div class="card-body">
    <table class="table" id="utilities">
      <thead class="thead-light">
      <tr>
        <th></th>
        <th>Utility</th>
        <th>Provider</th>
        <th></th>
      </tr>
      </thead>
      <tbody class="bg-white">
      <% @property.utilities.each do |utility| %>
        <tr>
          <th scope="row">
            <% if utility.utility_prices.present? %>
              <a href="#utility-<%= utility.id %>-prices" data-toggle="collapse" aria-expanded="false">
                <i title="Expand" class="fas fa-plus-circle"></i>
              </a>
            <% end %>
          </th>
          <th><%= utility.name %></th>
          <td><%= utility.provider_name %></td>
          <td class="text-right">
            <div class="btn-group btn-group-sm" role="group">
              <%= link_to(new_utility_price_path(utility), class: 'btn btn-primary', alt: 'Add Price') do %>
                <i class="fas fa-pound-sign fa-fw"></i>
              <% end %>
              <%= link_to(new_utility_usage_path(utility), class: 'btn btn-primary', alt: 'Add Reading') do %>
                <i class="fas fa-tachometer-alt fa-fw"></i>
              <% end %>
              <%= link_to(edit_utility_path(utility), class: 'btn btn-warning', alt: 'Edit') do %>
                <i class="fas fa-edit fa-fw"></i>
              <% end %>
              <%= link_to(utility_path(utility), data: {:confirm => 'Are you sure?'}, method: :delete,
                          class: 'btn btn-danger', alt: 'Delete') do %>
                <i class="fas fa-trash fa-fw"></i>
              <% end %>
            </div>
          </td>
        </tr>
        <% if utility.utility_prices.present? %>
          <tbody class="collapse" id="utility-<%= utility.id %>-prices" data-parent="#utilities">
            <% utility.utility_prices.each do |price| %>
              <tr>
                <td colspan="3"><%= price.name %> - <%= price.readable_price %></td>
                <td>
                  <div class="btn-group btn-group-sm" role="group">
                    <%= link_to(edit_utility_price_path(price), class: 'btn btn-warning', alt: 'Edit') do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to(utility_price_path(price), data: {:confirm => 'Are you sure?'}, method: :delete,
                                class: 'btn btn-danger', alt: 'Delete') do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4" class="text-right">
          <%= link_to('Add utility', new_property_utility_path(@property), class: 'btn btn-primary') %>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="card mb-3">
  <h4 class="card-header">Tenancies</h4>
  <div class="card-content">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>Tenant</th>
        <th>From</th>
        <th>To</th>
        <th>Room</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @tenancies.each do |tenancy| %>
        <tr>
          <th><%= tenancy.tenant.name %></th>
          <td><%= tenancy.start_date.to_s(:rfc822) %></td>
          <td><%= tenancy.end_date.empty? ? 'Open-ended' : tenancy.end_date.to_s(:rfc822) %></td>
          <td><%= tenancy.belongs_to_room? ? tenancy.rentable.name : '' %></td>
          <td>
            <% if tenancy.is_active? %>
              <span class="badge badge-success">Active</span>
            <% elsif tenancy.is_future? %>
              <span class="badge badge-info">Future</span>
            <% else %>
              <span class="badge badge-secondary">Past</span>
            <% end %>
          </td>
          <td></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>