<% @title = 'Create Room at ' + @property.name %>

<h2>Create New Room at <%= @property.name %></h2>

<%= simple_form_for(@room, url: property_rooms_path(@property), wrapper: :horizontal_form) do |f| %>
  <%= f.input :name, class: "form-control", label: "Name" %>
  <%= f.input :size, class: "form-control", step: 0.1, label: "Size", unit: 'm<sup>2</sup>'.html_safe,
    wrapper: :horizontal_input_group %>
  <%= f.input :charge_weight, class: "form-control", step: 0.1, placeholder: "1.0", label: 'Utility Charge Weight',
    hint: 'This would be used to calculate the share of utility share payable by its occupant' %>
  <%= f.input :occupied_override, class: "form-control", radio_label: "Occupied", radio_for: "room_occupied_override",
    hint: 'Override occupation status', wrapper: :horizontal_boolean %>
  <div class="form-group row">
    <div class="col btn-group">
      <%= f.submit "Create", class: "btn btn-primary" %>
      <%= link_to("Back", _back_url, class: "btn btn-secondary") %>
    </div>
  </div>
<% end %>