<% @title = @conversation.subject %>


<div class="row mb-4">
  <div class="col-12 col-md-8">
    <h2><small class="text-muted">Subject:</small> <%= @conversation.subject %></h2>

    <h4>
      <% @conversation.participants.each do |p| %>
        <span class="badge badge-secondary text-white font-weight-normal"><%= p.name %></span>
      <% end %>
    </h4>
  </div>
  <div class="col-12 col-md-4 text-right">
    <%= link_to 'Reply', '#reply', class: 'btn btn-primary', data: { toggle: 'collapse' } %>
  </div>
</div>

<div class="collapse" id="reply">
  <div class="card mx-1 mb-4">
    <div class="card-body">
      <%= simple_form_for(@email, wrapper: :horizontal_form) do |f| %>
        <h3 class="mb-3">Reply</h3>
        <div class="form-group row">
          <div class="col">
            <trix-editor input="message"></trix-editor>
            <%= f.input_field :message, id: 'message', type: 'hidden' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col btn-group">
            <%= f.submit "Reply", class: "btn btn-primary" %>
            <%= link_to("Close", "#reply", class: "btn btn-secondary", data: { toggle: 'collapse' }) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% @conversation.messages.each do |m| %>
  <div class="card-group row mx-1 mb-4">
    <div class="card col-12 col-md-4 col-lg-3 bg-light">
      <div class="card-body px-1">
        <h4><%= m.sender.name %></h4>
        <p class="text-muted"><%= m.sender.contactable_type %></p>
        <div class="align-content-end"><%= l m.created_at %></div>
      </div>
    </div>
    <div class="card col-12 col-md-8 col-lg-9">
      <div class="card-body px-1">
        <%= m.body.html_safe %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to("Back", _back_url, class: "btn btn-secondary") %>