<% @title = 'Transactions' %>

<h2>Transactions</h2>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th>Date</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <% unless @transactions.where(invoice_id: nil).empty? %>
  <tr>
    <td colspan="2">Transactions to be included in the next invoice</td>
  </tr>
  <% @transactions.where(invoice_id: nil).each do |t| %>
  <tr>
    <th><%= t.credit_date.to_s(:rfc822) %></th>
    <td><%= t.description %></td>
    <td>
      <% if t.in_credit? %><i>(<%= t.readable_amount %>)</i><% else %><%= t.readable_amount %><% end %>
    </td>
  </tr>
  <% end %>
  <% end %>
  <% unless @transactions.where(invoice_id: nil).empty? %>
  <tr>
    <td colspan="2">Transactions included in the previous invoices</td>
  </tr>
  <% @transactions.not(where(invoice_id: nil)).each do |t| %>
  <tr>
    <th><%= t.credit_date.to_s(:rfc822) %></th>
    <td><%= t.description %></td>
    <td>
      <% if t.in_credit? %><i>(<%= t.readable_amount %>)</i><% else %><%= t.readable_amount %><% end %>
    </td>
  </tr>
  <% end %>
  <% end %>
  </tbody>
</table>