<% @title = 'Upload Application Form' %>

<h2>Upload Application Form for <%= @application.tenant.name %></h2>

<%= simple_form_for(@document, url: application_documents_path(@application.tenant), wrapper: :horizontal_form) do |f| %>
  <%= f.input :document_to_attach, as: :file, label: 'Document', file_label: 'Choose File', required: true,
    wrapper: :horizontal_file_input %>

  <div class="form-group row">
    <div class="col btn-group">
      <%= f.submit "Upload", class: "btn btn-primary" %>
      <%= link_to("Back", application_path(@application), class: "btn btn-secondary") %>
    </div>
  </div>
<% end %>